.form {
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 25px;
    width: 380px;
    height: 370px;
    position: absolute;
    top: 150%;
    left: 46%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: 10;
}

.detailSection {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailSection span {
    width: 120px;
    height: 120px;
}

.detailSection label {
    font-size: 1rem;
    padding: 0.6rem;
    padding-bottom: 0;
    margin-top: 5px;
}

.detailSection input {
    padding: 0.2rem;
    width: 200px;
    height: 30px;
    border: solid 2px grey;
    border-radius: 5px;
    font-size: 1rem;
}

.detailSection select {
    padding: 0.2rem;
    width: 200px;
    height: 30px;
    font-size: 0.8rem;
    border: solid 2px grey;
    border-radius: 5px;
    background: none;
    padding: 0.2rem;
}

.button {
    width: 85px;
    height: 45px;
    margin-top: 30px;
    background-color: black;
    border-radius: 25px;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

