


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: var(--main-font-color);
}

.customLink {
  text-decoration: none;
  color: black;
  width: 150px;
  height: 50px;
  padding: 5px;
  font-size: 1rem;
  background-color: var( --button-background-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-shadow);
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}