.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    min-height: 100vh;
    color: var( --main-font-color);
  }


  .main h2 {
    font-size: 4rem;
  }

  .main button {
    color: black;
    width: 150px;
    height: 50px;
    padding: 5px;
    font-size: 1.1rem;
    background-color: var( --button-background-color);
    border-radius: var(--button-border-radius);
    box-shadow: var(--button-shadow);
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

  .backButtonLink {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin-top: 25px;
  }

  .cardContainerEditP1 button{
    margin-top: 0;
    font-size: 1rem;
    color: white;
    background: none;
    box-shadow: none;
    width: 0px;
    height: 0;
}

.cardContainerEditP2 button{
  margin-top: 0;
  font-size: 1rem;
  color: white;
  background: none;
  box-shadow: none;
  width: 0px;
  height: 0;
}